<h1>Financial Capture</h1>

<h3>Last commodities</h3>
<table class="table table-striped" id="last-commodities">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price sales</th>
  </tr>
  </thead>
  <tbody>
  <% @commodities.each do |commodity| %>
      <tr>
        <td><%= commodity[:name] %></td>
        <td><%= commodity[:price_sales] %></td>
      </tr>
  <% end %>
  </tbody>
</table>

